<ion-header>
  <ion-toolbar>
    <ion-title text-center>
        <img alt="logo" height="40"  src="../../assets/icon/codeloop_logo_extended.png"/>
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content text-center>
  <div class="ion-padding">
    <h3>Seja bem-vindo ao Portal de Estudantes</h3>
  </div>
 
    <ion-button (click)="openModalCadastrar()">Cadastrar Estudante</ion-button>

    <ion-button (click)="openModalVisualizar()">Visualizar Estudantes</ion-button>

</ion-content>

<ion-footer text-center> 
      <p>© 2019 - CodeLoop - Software House</p>
  </ion-footer>